.TvList{
    padding: 0 3rem 3rem 3rem;
}

.listTitle{
    font-size: 1.75rem;
    font-family: "Nunito", sans-serif;
    margin: 4rem 0 1rem 1rem;
}

.listCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}